.about-us {
    height: 100vh;
}

about-us-content > img {
    width: 100px;
}
.about-us-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(1, 200px);
    grid-gap: 1em;
}

.about-us > h1 {
    padding: 30px;
    font-size: 3em;
    text-align: center;
}