.about-us {
    height: 100vh;
    background: rgba(0, 0, 0, 0.90);
}

.about-us-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 430px);
}

.about-us > h1 {
    padding: 30px;
    font-size: 3em;
    text-align: center;
}