.gold {
    color: #f7b733;
}

.custom-white {
    color: white;
}
  
.dark-black {
    color: rgba(0, 0, 0, 0.87);
}
  
.full-black {
    color: rgba(0, 0, 0, 1);
}

.twitter-color {
    color: #00b0ff;
  }