.committee > h1 {
    color: black;
    font-size: 3em;
}

.committee-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.4em;
    margin-left: 5%;
    margin-right: 5%;
}

.committee-inner > div {
    background: pink;
    border: 5px solid red;
    padding: 1em;
    height: 200px;
  }