.committee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0.4em;
    background: pink;
}

.committee > div {
    padding: 0.5em;
  }