#footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(1, 180px);
}

/* temp fix */
#footer > div {
    margin-left: 120px;
    padding: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f7b733;
}


#footer .btn {
    color: #f8f8f8;
    margin-left: 1%;
}

.bio-icons a {
    color: black;
    font-size: 1.25em;
    padding: 0.5%;
}

#copyright {
    margin-top: 50px;
}
