
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: white;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3.5em;
}

h2, li {
    font-family: 'Roboto', sans-serif;
}

p {
    color: black;
}

header {
    position: absolute;
    width: 100%;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    padding: 0;
    margin: 0;
    font-size: 1.4em;
}

nav {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #69D2E7;
}

ul > li {
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
}

img {
    height: 70px;
    position: absolute;
    float: right;
    margin-left: 10px;
}

.landing-page {
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f3cb0473315ed1eca1b47d280bb2ab1&auto=format&fit=crop&w=1950&q=80) no-repeat 50% 50%;
    /* background: pink; */
    display: table;
    top: 0;
    background-size: cover;
}

.landing-page .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.landing-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
